{{ $myYear := substr .Params.note -12 -8 }}
{{ $myMonth := substr .Params.note -8 -6 }}
{{ $myDay := substr .Params.note -6 -4 }}

<i data-feather="edit"></i>{{"Notes :"}}
{{ $href := print (relURL "note/") ($myYear) ("/") ($myMonth) ("/") ($myDay) ("/") (urlize .Params.note ) }}
<a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ .Params.note }}</a>
<br>
<i data-feather="list"></i>{{"Tasks :"}}
<br>
<i data-feather="clipboard"></i>{{"Posts :"}}
{{ $href := print (relURL "post/") (urlize .Params.post ) }}
<a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ .Params.post }}</a>